/*div{
    background-color: aqua;
    border: 5px solid red;
}
p:hover{
    color: lightgreen;
    background-color: blue;
    cursor:pointer
}
p::first-letter{
    font-size: 50px;
}
/*p{
    display: inline;
}
input:focus{
    outline: 3px solid red;
}
   h6{
    width: 100px;
    height: 100px;
    background-color: blue;
    color: red;
    transition-property:width;
    transition-duration:5s;
    transition-timing-function: ease-in-out;
    transition-delay:1s;
   }
   .box:hover{
    width: 200px;
   }*/
   @keyframes stretch{
    0%{
        transform: scale(1);
        
    }
    50%{
        transform: scale(1.5);
        border-radius: 100px;
        background-color: red;
    }
    100%{
        transform:scale(1) ;
    }
   }
   .box{
    width: 100px;
    height: 100px;
    background-color: blue;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: .5s;
    animation-iteration-count: infinite;
   }
   .mount{
   position: fixed;
   bottom: 0px;
   }